<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.busplan">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <!-- permission required to use Alarm Manager -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <!-- The ACCESS_COARSE/FINE_LOCATION permissions are not required to use Google Maps Android API v2, but are recommended. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <!-- Register the Alarm Receiver -->
        <receiver android:name="com.busplan.utils.AlarmReceiver"/>

        <activity
            android:name="com.busplan.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.busplan.core_activities.NearbyBusStopsActivity"
            android:label="Nearby Bus Stops"
            android:parentActivityName="com.busplan.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.busplan.MainActivity"/>
        </activity>
        <activity
            android:name="com.busplan.core_activities.SearchStopsActivity"
            android:label="Search"
            android:parentActivityName="com.busplan.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.busplan.MainActivity"/>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>
        <activity
            android:name="com.busplan.core_activities.BusStopStatisticsActivity"
            android:label="Stop Statistics"
            android:parentActivityName="com.busplan.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.busplan.MainActivity"/>
        </activity>
        <activity
            android:name="com.busplan.core_activities.SchedulerActivity"
            android:label="Scheduler"
            android:parentActivityName="com.busplan.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.busplan.MainActivity"/>
        </activity>
        <activity
            android:name="com.busplan.core_activities.SchedulerAddReminderActivity"
            android:label="Add Reminder"
            android:parentActivityName="com.busplan.core_activities.SchedulerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.busplan.core_activities.SchedulerActivity"/>
        </activity>
        <activity
            android:name="com.busplan.core_activities.SchedulerViewTripActivity"
            android:label="Trip Plan"
            android:parentActivityName="com.busplan.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.busplan.MainActivity"/>
        </activity>
        <activity
            android:name="com.busplan.core_activities.TripPlannerActivity"
            android:label="Trip Planner"
            android:parentActivityName="com.busplan.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.busplan.MainActivity"/>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity
            android:name="com.busplan.core_activities.TripPlannerResultActivity"
            android:label="Trip Itinerary"
            android:parentActivityName="com.busplan.core_activities.TripPlannerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.busplan.core_activities.TripPlannerActivity"/>
        </activity>
        <activity
            android:name="com.busplan.core_activities.SearchStopsTripPlannerActivity"
            android:label="Search"
            android:parentActivityName="com.busplan.core_activities.TripPlannerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.busplan.core_activities.TripPlannerActivity"/>
        </activity>
        <activity
            android:name="com.busplan.core_activities.DrawRouteActivity"
            android:label="@string/title_activity_draw_route"
            android:parentActivityName="com.busplan.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.busplan.MainActivity"/>
        </activity>

        <receiver android:name="com.busplan.widgets.BusStopWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@layout/shortcut_provider"/>
        </receiver>
        <activity
            android:name="com.busplan.widgets.BusStopWidgetConfig"
            android:noHistory="true">
        </activity>
    </application>

</manifest>
